[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "formods"]
	path = formods
	url = https://github.com/john-harrold/formods
[submodule "onbrand"]
	path = onbrand
	url = https://github.com/john-harrold/onbrand
[submodule "ruminate"]
	path = ruminate
	url = https://github.com/john-harrold/ruminate
[submodule "ubiquity"]
	path = ubiquity
	url = https://github.com/john-harrold/ubiquity
